# Python
__pycache__/
*.py[cod]
*.pkl
*.log

# Environments
.env
.venv/
b_env/
env/

# System
.DS_Store

# Model & Vector Files
*.bin
*.faiss
*.pt
*.h5
*.safetensors
*.ckpt

# PDF or data
pdfs/
*.pdf

# HuggingFace tokenizer/model
*.json
*.model

# VSCode
.vscode/

# Output files
*.zip
*.csv
