# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Environment
.env
env/
.b_env/

# Logs
*.log

# Rasa model files
*.tar.gz
models/
*.safetensors
*.pt
*.pkl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
