# Web framework
Flask
Flask-Cors

# PDF & Text processing
PyMuPDF
nltk

# ML & QA
transformers==4.28.1
torch # ⚠️ use torch==2.4.1+cpu if no GPU
sentence-transformers
faiss-cpu
rasa
rasa-sdk


# Rasa integration
requests

# Extra utilities
numpy
scipy
cachetools
uuid
json5
gunicorn # Optional, but Render prefers gunicorn over built-in server
